* {
	color: #FFFFFF;
	padding: 0;
	margin:0 auto;
}

body {
	background-color: #121212;
}

#img-carousel {
	height: 100vh;
}

#image-carousel img {
	height:100vh;
}

.card {
	display: inline-block;
}

#nav {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index:2000;
	opacity:0;
	transition-delay:0.4s; /* The hover delays is to give the effect of appearing immediately, but disappearing after a delay */
}

#nav:hover {
	opacity:1;
	transition-delay:0s;
}




