{% set navigation_bar = [
	("/carousel", "carousel", "Carousel"),
	("/albums", "albums", "Albums")
	] %} <!-- Setting up navigation bar items -->

{% set active_page = active_page|default("carousel") %} <!-- Default active page is carousel --> 


<!DOCTYPE html>
<html>
<head>
	<title>Gallery viewer - {{active_page|title}}</title>
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
	<!-- navigation -->
	<div class="navbar navbar-expand-md navbar-dark bg-dark text-center" id="nav">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<!-- Loop through all navbar items, and display them. If active, add class .active -->
				{% for href, id , caption in navigation_bar %}
				<li class="nav-item {% if id == active_page %} active {% endif %}">
					<a class="nav-link" href={{ href|e }} >{{ caption|e }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- Extends layout differently based on page -->
	{% block content %}{% endblock %}
	
	<!-- jquery, popper, boostrap scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- My own script -->
	<script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
</body>
</html>