{% extends "index.html" %}

{% block navbar_items %}
	<li class="nav-item">
		<a class="nav-link" href="{{url_for('carousel')}}">Carousel</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{{url_for('list')}}">List</a>
	</li>
{% endblock navbar_items %}

{% block content %}
	<div class="card-columns" id="card-group">
		{% for i in range(len_images) %}
			<div class="card">
				<a href="#{{ images[i] }}" class="lightbox">
					<img class="card-img-top" src="{{url_for('static', filename='images/'+images[i])}}" alt={{images[i]}}>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock content %}