<!-- Simple card column to display images -->
{% extends "index.html" %}
{% set active_page="list" %}

{% block content %}
	<div class="overlay"> <!-- Is display:none, with no img src. When an img is clicked, this appears and img src set to clicked img -->
		<img>
		<button class="close btn btn-outline-danger btn-close"> &times </button>
	</div>
	<div class="card-columns" id="card-group">
		{% for i in range(images|length) %}
			<div class="card">
				<a href="#{{ images[i] }}" class="lightbox">
					<img class="card-img-top" src="{{url_for('static', filename='images/'+images[i])}}" alt={{images[i]}}>
				</a>
			</div>
		{% endfor %}
	</div>

	<script>
		const cards = document.querySelectorAll(".card");
		const overlay = document.querySelector(".overlay");
		const overlayImg = overlay.querySelector("img");
		// const overlayClose = overlay.querySelector(".close");

		function handleClick(e) {
			const src = e.target.src;
			overlayImg.src = src;
			overlay.classList.add("open");
		}

		function close() {
			overlay.classList.remove("open");
		}

		cards.forEach(item => item.addEventListener("click", handleClick)); // select all cards, and when click, expand the image out
		overlay.addEventListener("click", close); // when any click happens on the overlay, close the overlay
	</script>
{% endblock content %}